<div id="<%= dom_id store %>" class="border rounded my-5 p-5">
  <div class="row">
    <div class="col-1">
      <p class="text-muted">
        Title
      </p>
    </div>

    <div class="col">
      <p class="text-success">
        <%= store.title %>
      </p>
    </div>
  </div>
</div>
